
@media screen {
    html, body, section {
        background: #333  fixed;
        background-image: url(../i/bg/carbon_fibre.png);
        color: #fff;
        margin: 0;
        padding: 0;
    }
    section {
        background-image: none;
    }
    section div.content {
        padding:20px;
        padding-bottom: 30px;
    }
    section footer {
        bottom: 0;
        left: 12px;
        padding-bottom: 8px;
        padding-top: 12px;
        position: absolute;
        right: 12px;
    }
    div.outer {
        padding-bottom: 20px;
        padding-top:40px;
    }


    section {
        border-radius: 8px;
        box-shadow: inset 0 0 4px 4px rgba(30,30,30,0.5);
    }
    *.printonly {
        display: none;
    }
    div#content {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    div#content section {
        display:none;
        min-height:608px;
        left: 50%;
        margin-left: -304px;
        position: absolute;
        top: 36px;
        width: 608px;
        z-index: 1;
    }
    div#content section.active {
        display:block !important;
    }
    section h1:first-child,
    section h2:first-child,
    section h3:first-child {
        margin-top:0;
    }
}


@media screen and (max-width: 700px) {
    body div#content {
        height: 100%;
    }
    body div#content section.active {
        left: 0;
        margin-left: 0;
        min-height:100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
*.clear {
    clear: both;
}
a:hover, a:focus {
    text-decoration: underline;
}
 div.tests p {
        background: rgba(251, 255, 138, 0.8) no-repeat 98% 50%;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYUEB4U4PLY6wAAACZpVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVAgb24gYSBNYWOV5F9bAAAAGklEQVRIx+3BMQEAAADCoPVP7W8GoAAAAOANDi4AAbvaTIQAAAAASUVORK5CYII=);
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
        color:#000;
        font-family: monospace;
        margin: 0 0 10px 12px;
        padding: 10px 30px 10px 12px;
        position: relative;
        transition: all 300ms linear;
    }
    div.tests p.fail {
        background-image: url(../i/bullet_deny.png);
        border: 1px solid red;
    }
    div.tests p.pass {
        background-image: url(../i/bullet_accept.png);
        border: 1px solid green;
    }
    span.returnValue {
        background-color: #333;
        border-radius: 5px;
        border: 1px solid #888;
        box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
        color: #ccc;
        display: block;
        font-size: 0.8em;
        left: -5px;
        opacity: 0.8;
        padding: 1px 6px 3px;
        position: absolute;
        top: -5px;
        transition: all 2s linear;
    }
    p.pass span.returnValue {
        background-color: #080;
        border: 1px solid #fff;
        color: #fff;
    }
    div.card div.row {
        width: 100%;
    }
    div.col {
        display: inline-block;
        min-height: 200px;
        position: relative;
        vertical-align: top;
        width: 50%;
    }
    div.col.tests {
        width:45%;
    }
    div.editor {
        border: 10px solid transparent;
        border-radius: 5px;
        box-shadow: 0 0 4px 4px rgba(0,0,0,0.3);
        transition: all 300ms linear;
    }
    div.editor.invalid {
        box-shadow: 0 0 4px 4px red;
    }
    div.editor>div {
        font-size: 11px;
        margin: 0;
        position: absolute;
        padding: 8px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    div.card {
        min-height: 584px;
        padding:12px;
    }
    div.row div.col:nth-child(1)  {

    }

h1,h2,h3 {
    font-family: 'Shadows Into Light Two', cursive;
}
p, li {
    font-family: 'Annie Use Your Telescope', cursive;
}
pre {
    border-radius: 8px;
    font-size: 0.7em !important;/* override rainbow settings*/
    width: 80%;
}
fieldset {
    background-color: #0B1022;
    border-radius: 8px;
    padding: 4px 12px;
    width: 80%;
}
input {
    font-size: 0.8em;
}
input[type=text] {
    padding: 6px 12px;
}
label {
    display: inline-block;
    width:80px;
}
input.left-margin {
    margin-left: 90px;
}
input.button {
    background-image: -moz-linear-gradient(to bottom, #565e5c 0%,#212322 50%,#0a0e0a 51%,#0a0809 100%);
    background-image: -webkit-linear-gradient(to bottom, #565e5c 0%,#212322 50%,#0a0e0a 51%,#0a0809 100%);
    background-image: linear-gradient(to bottom, #565e5c 0%,#212322 50%,#0a0e0a 51%,#0a0809 100%);
    border-radius: 8px;
    border: 1px solid #222;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    color: #aaa;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5em 2em;
    text-shadow: -1px -1px #000;
    transition: all 100ms linear;
}
input.button.big-button {
    border-radius: 18px;
    font-size: 1.3em;
}
input.button:hover,input.button:focus {
    box-shadow: 0 0  15px 4px rgba(255,255,255,0.5);
    color: #fff;
}
body input.button:active {
    box-shadow: 0 0  15px 4px rgba(0,255,0,0.5);
    color: #0d0;
}
input.button.active {
    background-color: #fff;
    background-image: none;
    color: darkred;
    text-shadow: 0 0 #000;
 }
p.button-bar {
    border-top: 1px dotted #555;
    margin-top: 28px;
    padding-top: 20px;
}
*.test-header {
    border-bottom: 1px dotted #555;
    margin-bottom: 18px;
    padding-bottom: 0px;
}
*.def {
    color:#888;
}


ul.footer-nav {
    list-style: none;
    margin:0;
    padding: 0;
    position: relative;
}
ul.footer-nav a {
    cursor: pointer
}
ul.footer-nav li.up {
    text-align: center;
}
ul.footer-nav li.down {
    text-align: center;
}
ul.footer-nav li.left {
}
ul.footer-nav li.right {
    float: right;
    text-align: right;
}

div#content .ui-resizable {
    position: relative;
}
div#content .ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}
div#content .ui-resizable-disabled .ui-resizable-handle,
div#content .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
div#content .ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
div#content .ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
div#content .ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
div#content .ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
div#content .ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
div#content .ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
div#content .ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
div#content .ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
hr.divider {
    background-color: transparent;
    border-top: 1px dashed black ;
    height: 1px;
    margin: 30px auto;
    text-align: center;
    width: 80%;
}
*.drop-zone {
    background-color: #000;
    border: 1px solid #888;
    border-radius: 5px;
    margin: 3px;
    padding: 5px 12px;
    position: relative;
}
*.drop-zone span.value88 {
    border-radius: 3px;
    border: 1px solid #333;
    background-color: #cecece;
    color : #333;
    left: 50%;
    opacity: 0.7;
    padding: 3px;
    position: absolute;
    top: -10px;
}
*.drop-zone span.returnValue {
    opacity: 0;
    transition: all 500ms linear;
}
*.drop-zone.viewed span.returnValue {
    opacity: 0.8;
}
*.drag-item {
    background-color: #ddd;
    border: 1px solid #cecece;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(255,255,255,0);
    color: #333;
    cursor: pointer;
    margin: 8px;
    padding: 3px 8px;

    transition: box-shadow 300ms linear;
}
*.drag-item:hover {
    box-shadow: 0 0 5px 5px rgba(255,255,255,0.5);
    text-decoration: none;
}
*.drag-item a {
    color: inherit;
    text-decoration: none!important;
}
div.type-single-select *.selected {
    opacity: 0.5;
}

*.drop-zone.dragover {
    opacity: 0.5;
}
header div.half {
    float: left;
    width: 49%;
}

*.tac {
    text-align: center;
}
*.tar {
    text-align: right;
}
*.vat {
    vertical-align: top;
}
*.dib {
    display: inline-block;
}
*.relative {
    position: relative;
}
*.soft-border {
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.3) ;
}